<!-- Facebook Javascript SDK -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=356612794468955&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<!-- END -->

<!-- Google+ Javascript include -->
<script src="https://apis.google.com/js/platform.js" async defer></script>
<!-- END -->

<div class="frontpage">
	<div class="slide slidetype-1">
		<div class="layer container">
			<div class="mobile-header visible-xs visible-sm">
				<img src="img/logo.png">
			</div>
			<div class="header hidden-sm">
				<div class="logo col-md-2">
					<img src="img/logo.png">
				</div>
				<div class="navHolder col-md-7 col-md-offset-3">
					{{!-- <ul class="nav nav-pills nav-justified">
					  <li class="active"><a>Home</a></li>
					  <li><a>About</a></li>
					  <li><a>Contact</a></li>
					</ul> --}}
				</div>
			</div>
			<div class="col-md-6">
				<div class="content content-1">
					<div class="text-heavy">
						Make recruiting a breeze
					</div>
					<div class="content-text">
						 and your business more productive
					</div>
					<a href="#/features" class="btn btn-success btn-lg top corner" role="button">Here's how</a>
				</div>
			</div>
		</div>
	</div>

	<div class="slide slidetype-2">
		<div class="layer container">
			<div class="header">
				<div class="logo col-md-2">
					<img src="img/logo.png">
				</div>
				<div class="navHolder col-md-7 col-md-offset-3">
					{{!-- <ul class="nav nav-pills nav-justified">
					  <li class="active"><a>Home</a></li>
					  <li><a>About</a></li>
					  <li><a>Contact</a></li>
					</ul> --}}
				</div>
			</div>
			<div class="col-md-6">
			</div>
			<div class="col-md-6">
				<div class="content content-2">
					<div class="text-heavy">
						Why are recruitment systems so difficult to use?
					</div>
					<div class="content-text">
						 We've been there, and we're here to solve it.
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="slide slidetype-3">
		<div class="layer container">
			<div class="text-center top text-heavy text-spaced">
				The Octus Solution
			</div>
		</div>
	</div>

	<div class="slide slidetype-2">
		<div class="layer container">
			<div class="header">
				<div class="logo col-md-2">
					<img src="img/logo.png">
				</div>
				<div class="navHolder col-md-7 col-md-offset-3">
					{{!-- <ul class="nav nav-pills nav-justified">
					  <li class="active"><a>Home</a></li>
					  <li><a>About</a></li>
					  <li><a>Contact</a></li>
					</ul> --}}
				</div>
			</div>
			<div class="col-md-6">
				<div class="slide-video embed-responsive embed-responsive-16by9 content-video">
					<iframe width="560" height="315" src="//www.youtube.com/embed/BKorP55Aqvg" frameborder="0" allowfullscreen></iframe>
				</div>
			</div>
			<div class="col-md-6">
				<div class="content content-2">
					<div class="text-heavy">
						Accessibility
					</div>
					<div class="content-text">
						<ul class="content-list">
							<li>Cloud hosted system</li>
							<li>Intuitive browser based interface</li>
							<li>Full functionality on all platforms</li>
							<li>End to End recruitment process management</li>
						</ul>
					</div>
					<a href="#/features" class="btn btn-success btn-lg top corner pull-right" role="button">Learn more</a>
				</div>
			</div>
		</div>
	</div>

	<div class="slide slidetype-2">
		<div class="layer container">
			<div class="header negative">
				<div class="logo col-md-2">
					<img src="img/logo.png">
				</div>
				<div class="navHolder col-md-7 col-md-offset-3">
					{{!-- <ul class="nav nav-pills nav-justified">
					  <li class="active"><a>Home</a></li>
					  <li><a>About</a></li>
					  <li><a>Contact</a></li>
					</ul> --}}
				</div>
			</div>
			<div class="col-md-6">
				<div class="content content-2 negative">
					<div class="text-heavy text-right">
						Integration
					</div>
					<div class="content-text">
						<ul class="content-list text-right">
							<li>Email &amp; Calendar</li>
							<li>Phone &amp; SMS</li>
							<li>Job Boards</li>
							<li>Searching</li>
							<li>Partners - Daxtra, IKM, Psytech</li>
						</ul>
					</div>
					<a href="#/features" class="btn btn-success btn-lg top corner" role="button">Learn more</a>
				</div>
			</div>
			<div class="col-md-6">
				<div class="slide-video embed-responsive embed-responsive-16by9 content-video">
					<iframe width="560" height="315" src="//www.youtube.com/embed/BKorP55Aqvg" frameborder="0" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>

	<div class="slide slidetype-2">
		<div class="layer container">
			<div class="header">
				<div class="logo col-md-2">
					<img src="img/logo.png">
				</div>
				<div class="navHolder col-md-7 col-md-offset-3">
					{{!-- <ul class="nav nav-pills nav-justified">
					  <li class="active"><a>Home</a></li>
					  <li><a>About</a></li>
					  <li><a>Contact</a></li>
					</ul> --}}
				</div>
			</div>
			<div class="col-md-6">
				<div class="slide-video embed-responsive embed-responsive-16by9 content-video">
					<iframe width="560" height="315" src="//www.youtube.com/embed/BKorP55Aqvg" frameborder="0" allowfullscreen></iframe>
				</div>
			</div>
			<div class="col-md-6">
				<div class="content content-2">
					<div class="text-heavy">
						Productivity
					</div>
					<div class="content-text">
						<ul class="content-list">
							<li>Email &amp; Calendar</li>
							<li>Phone &amp; SMS</li>
							<li>Job Boards</li>
							<li>Searching</li>
							<li>Partners - Daxtra, IKM, Psytech</li>
						</ul>
						{{!-- <ul class="content-list">
							<li>Revenue, Activity, Output Quality: Bespoke Analytics provide custom views for business performance.</li>
							<li>Integration and intuitive functions reduce process duplication</li>
							<li>Smart Calendar - Haven’t spoke to a client in a while? Octus will remind you. Candidate coming to end of contract? Octus will alert you.</li>
						</ul> --}}
					</div>
					<a href="#/features" class="btn btn-success btn-lg top corner pull-right" role="button">Learn more</a>
				</div>
			</div>
		</div>
	</div>

	<div class="slide slidetype-2">
		<div class="layer container">
			<div class="header negative">
				<div class="logo col-md-2">
					<img src="img/logo.png">
				</div>
				<div class="navHolder col-md-7 col-md-offset-3">
					{{!-- <ul class="nav nav-pills nav-justified">
					  <li class="active"><a>Home</a></li>
					  <li><a>About</a></li>
					  <li><a>Contact</a></li>
					</ul> --}}
				</div>
			</div>
			<div class="col-md-6">
				<div class="content content-2 negative">
					<div class="text-heavy text-right">
						Security
					</div>
					<div class="content-text">
						<ul class="content-list text-right">
							<li>Flexible system restriction policies</li>
							<li>Action logging for full audit trails</li>
						</ul>
					</div>
					<a href="#/features" class="btn btn-success btn-lg top corner pull-right" role="button">Learn more</a>
				</div>
			</div>
			<div class="col-md-6">
				<div class="slide-video embed-responsive embed-responsive-16by9 content-video">
					<iframe width="560" height="315" src="//www.youtube.com/embed/BKorP55Aqvg" frameborder="0" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>

	<div class="slide slidetype-2">
		<div class="layer container">
			<div class="header">
				<div class="logo col-md-2">
					<img src="img/logo.png">
				</div>
				<div class="navHolder col-md-7 col-md-offset-3">
					{{!-- <ul class="nav nav-pills nav-justified">
					  <li class="active"><a>Home</a></li>
					  <li><a>About</a></li>
					  <li><a>Contact</a></li>
					</ul> --}}
				</div>
			</div>
			<div class="col-md-6">
				<div class="content content-2">
					<div class="text-heavy">
						Contact us for a free trial now!
					</div>
					<div class="content-text">
						Simply leave your details with us and our friendly sales representative will reach out to you
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="slide-contactform">
				</div>
			</div>
		</div>
	</div>

	<div class="footer container">
		<div class="col-md-2">All rights reserved</div>
		<div class="col-md-2">&copy; 2014 Octus</div>
		<div class="col-md-6 col-md-offset-2">
			<!-- Facebook like plugin -->
			<div class="fb-like" data-href="https://www.facebook.com/octusrecruitment" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
			<!-- Google+ follow plugin -->
			<div class="g-follow" data-annotation="bubble" data-height="20" data-href="https://plus.google.com/110131833217889792669" data-rel="publisher"></div>
		</div>
	</div>

</div>