.modal button {
}

.loadingstage {
	padding: 5%;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1040;
	background: rgba(0,0,0,0.4);
}

.navbar {
	background-image: url(../img/navBg.jpg);
	background-repeat: repeat-x;
	margin: 0;
	border: none;
	border-radius: 0;
	font-size: 18px;
}

.navbar-brand {
	width: 200px;
	font-size: 25px;
	font-weight: bold;
	color: #e67e22 !important;
}

.sidebar {
	height: 100%;
	padding: 0;
}

.sidebar-item {
	padding: 10px;
	border-top: 1px solid #C4C4C4;
	border-bottom: 1px solid #C4C4C4;
}

.sidebar-subitem {
	font-size: 16px;
	cursor: pointer;
}

.editor-panel {
	height: 100%;
	border: 1px solid #c4c4c4;
	overflow: hidden;
}

.editor-nav li a {
	padding: 3px 10px !important;
	background-color: #EEE;
	color: #272722;
	cursor: pointer;
}

.editor-nav li a:hover {
	background-color: #EEE;
	color: #272722;
}

.editor-nav>li.active>a {
	background-color: #272722;
	border-top: none;
	border-left: none;
	border-right: none;
	color: #FFF;
}

.editor-nav>li.active>a:hover {
	background-color: #272722;
	border-top: none;
	border-left: none;
	border-right: none;
}

.editor {
    width: 100%;
    height: 550px;
}

.half {
	padding: 0;
}

.misc-panel {
	border: 1px solid #c4c4c4;
}

.output-container {
	margin: 0;
	height: 100%;
}

.output-container .panel-heading {
	padding: 3px 10px;
}

.output-content {
	height: 83%;
	padding: 5px 15px;
	overflow: scroll;
}

#collapse-language {
	background-color: #FFCC00;
}

#collapse-language button {
	border-radius: 0;
	background-color: #FFF;
}

.language-selection ul {
	width: 100%;
}