<div class="settings-header text-center">
  GENERAL SETTINGS
</div>
<div class="settings-body">
  <form class="form-horizontal" role="form">
    <div class="form-group">
      <label for="work_start_at" class="col-md-12 control-label">Work day starts at</label>
      <div class="col-md-7">
        <input type"text" class="form-control input-oas" id="work_start_at" ng-model="settingsService.settings.work_start_at">
      </div>
      <label class="col-md-5 control-label">hours</label>
    </div>
    <div class="form-group">
      <label for="late_after" class="col-md-12 control-label">You are late for work after</label>
      <div class="col-md-7">
        <input type"text" class="form-control input-oas" id="late_after" ng-model="settingsService.settings.late_after">
      </div>
      <label class="col-md-5 control-label">hours</label>
    </div>
    <div class="form-group">
      <label for="overtime_block" class="col-md-12 control-label">Overtime salary is calculated based on</label>
      <div class="col-md-7">
        <input type="text" class="form-control input-oas" id="overtime_block" ng-model="settingsService.settings.overtime_block">
      </div>
      <label class="col-md-5 control-label">minute blocks</label>
    </div>
    <div class="form-group">
      <label for="meal_at" class="col-md-12 control-label">Meal allowance is given after</label>
      <div class="col-md-7">
        <input type"text" class="form-control input-oas" id="meal_at" ng-model="settingsService.settings.meal_at">
      </div>
      <label class="col-md-5 control-label">hours</label>
    </div>
    <div class="form-group">
      <label for="miscellaneous_foreign" class="col-md-12 control-label">Miscellaneous cost for foreign worker is</label>
      <div class="col-md-7">
        <input type"text" class="form-control input-oas" id="miscellaneous_foreign" ng-model="settingsService.settings.miscellaneous_foreign">
      </div>
      <label class="col-md-5 control-label">dollars</label>
    </div>
    <div class="form-group">
      <label for="miscellaneous_local" class="col-md-12 control-label">Miscellaneous cost for LOCAL worker is</label>
      <div class="col-md-7">
        <input type"text" class="form-control input-oas" id="miscellaneous_local" ng-model="settingsService.settings.miscellaneous_local">
      </div>
      <label class="col-md-5 control-label">dollars</label>
    </div>
    <div class="form-group">
      <label for="overtime_at" class="col-md-12 control-label">OT starts after</label>
      <div class="col-md-7">
        <input type"text" class="form-control input-oas" id="overtime_at" ng-model="settingsService.settings.overtime_at">
      </div>
      <label class="col-md-5 control-label">hours</label>
    </div>
  </form>
</div>
<div class="top-gap settings-footer">
  <button class="btn-oas" ng-click="save()">
    <img class="saveicon" src="images/common/save.730f94ab.png">
    &nbsp;SAVE
  </button>
</div>